@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{    
    height: 100vh;
    padding: 160px 0;
    background: linear-gradient(45deg, #00BFFF, #40E0D0, #20B2AA);
}

:root {
    --CorLetra: rgb(87, 87, 87);
    --CorPurpura: #9800ce;
    --CorVermelha: #ff0000;
}

.container1, .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 40px;
    letter-spacing: 15px;
    padding: 50px;
}

.bloco1 span, .bloco2 span, .bloco3 span, .bloco4 span, .bloco5 span, .bloco6 span{
    animation-duration: 8.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
    animation-name: brilhando; 
}

.bloco1 span:nth-of-type(1) {
    animation-delay: 0.30s;
}

.bloco1 span:nth-of-type(2) {
    animation-delay: 0.60s;
}

.bloco1 span:nth-of-type(3) {
    animation-delay: 0.90s;
}

.bloco1 span:nth-of-type(4) {
    animation-delay: 1.20s;
}

.bloco1 span:nth-of-type(5) {
    animation-delay: 1.50s;
}

.bloco1 span:nth-of-type(6) {
    animation-delay: 1.80s;
}

.bloco2 span:nth-of-type(1) {
    animation-delay: 2.10s;
}

.bloco2 span:nth-of-type(2) {
    animation-delay: 2.40s;
}

.bloco2 span:nth-of-type(3) {
    animation-delay: 2.70s;
}

.bloco2 span:nth-of-type(4) {
    animation-delay: 3.0s;
}

.bloco2 span:nth-of-type(5) {
    animation-delay: 3.30s;
}

.bloco2 span:nth-of-type(6) {
    animation-delay: 3.60s;
}

.bloco3 span:nth-of-type(1) {
    animation-delay: 3.90s;
}

.bloco3 span:nth-of-type(2) {
    animation-delay: 4.20s;
}

.bloco3 span:nth-of-type(3) {
    animation-delay: 4.50s;
}

.bloco4 span:nth-of-type(1) {
    animation-delay: 4.80s;
}

.bloco4 span:nth-of-type(2) {
    animation-delay: 5.10s;
}

.bloco4 span:nth-of-type(3) {
    animation-delay: 5.40s;
}

.bloco4 span:nth-of-type(4) {
    animation-delay: 5.70s;
}

.bloco4 span:nth-of-type(5) {
    animation-delay: 6.0s;
}

.bloco4 span:nth-of-type(6) {
    animation-delay: 6.30s;
}

.bloco4 span:nth-of-type(7) {
    animation-delay: 6.60s;
}

.bloco5 span:nth-of-type(1) {
    animation-delay: 6.90s;
}

.bloco6 span:nth-of-type(1) {
    animation-delay: 7.20s;
}

.bloco6 span:nth-of-type(2) {
    animation-delay: 7.50s;
}

.bloco6 span:nth-of-type(3) {
    animation-delay: 7.80s;
}

.bloco6 span:nth-of-type(4) {
    animation-delay: 8.10s;
}

.bloco6 span:nth-of-type(5) {
    animation-delay: 8.40s;
}

@keyframes brilhando {
    0% {
        color: red;
        text-shadow: 0 0 12px var(--CorVermelha), 0 0 50px var(--CorVermelha), 0 0 10px var(--CorVermelha);
    }
    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}