@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{    
    height: 100vh;
    padding: 100px 50px;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.inicio h1{
    color: darkblue;
    font-family: "Roboto", serif;
    font-size: 40px;
    letter-spacing: 3px;
    cursor: pointer;
}

.inicio h1:hover{
    color: red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.haranha{
    background-color: red;
    border-radius:50% ;
    border: 2px solid black;
    height: 300px;
    width: 300px;
}

.haranha:hover{

    background-image: linear-gradient(rgb(62, 62, 247) ,rgb(33, 113, 198) ,rgb(119, 119, 206));
}

.haranha img{
    position: relative;
    left: 55px;
    top: 30px;
}

.haranha img:hover{
    animation: bounce 3s infinite;
    cursor: pointer;
}


.aranha{
    background-color: rgb(28, 28, 255);
    width: 240px;
    height: 400px;
    border: 10px black solid;
}

.aranha img{
    position: relative;
    right: 40px;
    top: 65px;
}

.aranha:hover{
    background-image: linear-gradient( rgb(255, 119, 119) , red, rgb(255, 83, 83));
    
}

.aranha img:hover{
    animation: ampliar 3s ease;
    cursor: pointer;
    
}

.cafe{
    background-image: linear-gradient(yellow, orangered);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px orange solid;
}

.cafe:hover{
    animation: flip 3s ease-in-out;
    cursor: pointer;
}


.cafe img{
    position: relative;
    top: 50px;
    left: 50px;
}

@keyframes ampliar{

    0%{

        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
    }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(180deg); }
}

:root{
    --CorLetra: rgb(87,87,87);
    --CorPurpura: #9800ce    ;
    --CorVermelha: #ff0000;
    --corverde: green;
    --coramarelo: yellow;
    --corlaranja: orange;
    --corazul: rgb(68, 0, 255);
}

.mensagem{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 60px;
    font-size: 45px;
}

.giulia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.giulia span { 
    animation-name: brilhando;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    letter-spacing: 15px;
    cursor: pointer;
}

.giulia span:nth-of-type(2) {
    animation-delay: 0.25s;
}

.giulia span:nth-of-type(3) {
    animation-delay: 0.50s;
}

.giulia span:nth-of-type(4) {
    animation-delay: 0.75s;
}

.giulia span:nth-of-type(5) {
    animation-delay: 1s;
}

.giulia span:nth-of-type(6) {
    animation-delay: 1.25s;
}

.giulia span:nth-of-type(7) {
    animation-delay: 1.50s;
}

.giulia span:nth-of-type(8) {
    animation-delay: 1.75s;
}

.giulia span:nth-of-type(9) {
    animation-delay: 2s;
}

.giulia span:nth-of-type(10) {
    animation-delay: 2.25s;
}


@keyframes brilhando{

    0%{
        color: red;
        text-shadow: 0 0 12px var(--CorVermelha),
        0 0 50px var(--CorVermelha),
        0 0 10px var(--CorVermelha);
    }

    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}

.sorria span {
    animation-name: brilhar;
    animation-duration: 8s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    cursor: pointer;
    letter-spacing: 10px;
    transition: 2s;
}

.sorria span:nth-of-type(2) {
    animation-delay: 0.25s;
}

.sorria span:nth-of-type(3) {
    animation-delay: 0.50s;
}

.sorria span:nth-of-type(4) {
    animation-delay: 0.75s;
}

.sorria span:nth-of-type(5) {
    animation-delay: 1s;
}

.sorria span:nth-of-type(6) {
    animation-delay: 1.25s;
}

.sorria span:nth-of-type(7) {
    animation-delay: 1.50s;
}

.sorria span:nth-of-type(8) {
    animation-delay: 1.75s;
}

.sorria span:nth-of-type(9) {
    animation-delay: 2s;
}

.sorria span:nth-of-type(10) {
    animation-delay: 2.25s;
}

.sorria span:nth-of-type(11) {
    animation-delay: 2.50s;
}

@keyframes brilhar{

    0%{
        color: white;
        text-shadow: 0 0 12px var(--CorPurpura),
        0 0 50px var(--CorPurpura),
        0 0 10px var(--CorPurpura);
    }

    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sorriso span { 
    animation-name: brilhandoverde;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    letter-spacing: 15px;
    cursor: pointer;
}

.sorriso span:nth-of-type(1) {
    animation-delay: 3.25s;
}

.sorriso span:nth-of-type(2) {
    animation-delay: 3.50s;
}

.sorriso span:nth-of-type(3) {
    animation-delay: 3.75s;
}

.sorriso span:nth-of-type(4) {
    animation-delay: 4s;
}

.sorriso span:nth-of-type(5) {
    animation-delay: 4.25s;
}

.sorriso span:nth-of-type(6) {
    animation-delay: 4.50s;
}

@keyframes brilhandoverde{

    0%{
        color: var(--corverde);
        text-shadow: 0 0 12px var(--corverde),
        0 0 50px var(--corverde),
        0 0 10px var(--corverde);
    }

    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}

@keyframes brilhandoamarelo{

    0%{
        color: var(--coramarelo);
        text-shadow: 0 0 12px var(--coramarelo),
        0 0 50px var(--coramarelo),
        0 0 10px var(--coramarelo);
    }

    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}

@keyframes brilhandolaranja{

    0%{
        color: var(--corlaranja);
        text-shadow: 0 0 12px var(--corlaranja),
        0 0 50px var(--corlaranja),
        0 0 10px var(--corlaranja);
    }

    10%, 90% {
        color: var(--CorLetra);
        text-shadow: none;
    }
}

.seu span { 
    animation-name: brilhandolaranja;
    animation-duration: 7s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    letter-spacing: 15px;
    cursor: pointer;
}

.seu span:nth-of-type(1) {
    animation-delay: 0.25s;
}

.seu span:nth-of-type(2) {
    animation-delay: 0.50s;
}

.seu span:nth-of-type(3) {
    animation-delay: 0.75s;
}

.lindo span { 
    animation-name: brilhandoamarelo;
    animation-duration: 4.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    letter-spacing: 15px;
    cursor: pointer;
}

.lindo span:nth-of-type(1) {
    animation-delay: 0.25s;
}

.lindo span:nth-of-type(2) {
    animation-delay: 0.50s;
}

.lindo span:nth-of-type(3) {
    animation-delay: 0.75s;
}
.lindo span:nth-of-type(4) {
    animation-delay: 1s;
}

.lindo span:nth-of-type(5) {
    animation-delay: 1.25s;
}

.lindo span:nth-of-type(6) {
    animation-delay: 1.50s;
}

.lindo span:nth-of-type(7) {
    animation-delay: 1.75s;
}



